In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
%load_ext autoreload
%autoreload 2

In [2]:
from data.voterdb import VoterDb
from data.voter_list_ingest import IngestVoterList
from util.search import VoterMatch

In [3]:
root_dir = '~/Documents/data'
voterdb = VoterDb(root_dir)

In [4]:
voterdb.rebuild_search_table()

IntegrityError: UNIQUE constraint failed: voter_search.voter_id

In [7]:
df = pd.read_sql_query(f"select * from address_voter", voterdb.con)

In [8]:
df1 = pd.read_sql_query(f"select voter_id, last_name, first_name, middle_name from voter_name", voterdb.con)

In [9]:
print(df.shape); print(df1.shape)

(7491215, 2)
(7491215, 4)

In [10]:
df2 = pd.read_sql_query(f"select address_id, house_number, zipcode from residence_address", voterdb.con)

In [11]:
df3 = df.merge(df1, how='inner', on=['voter_id'])
df3.head()

   address_id  voter_id last_name first_name middle_name
0     1134776  00025435    BEMBRY     BRENDA    NEWBERRY
1     1134776  12752466    BEMBRY     ANDREW     BERNARD
2     1134777  00032584   JOHNSON   JENNIFER         LEE
3     1134777  04164211   JOHNSON     WALTER       KEVIN
4     1134777  12028447   JOHNSON    REBECCA       GRACE

In [13]:
df3.shape

(7491215, 5)

In [14]:
df4 = df3.merge(df2, how='inner', on=['address_id'])
print(df4.shape)
df4.head()

(7491215, 7)

   address_id  voter_id last_name first_name middle_name
0     1134776  00025435    BEMBRY     BRENDA    NEWBERRY
1     1134776  12752466    BEMBRY     ANDREW     BERNARD
2     1134777  00032584   JOHNSON   JENNIFER         LEE
3     1134777  04164211   JOHNSON     WALTER       KEVIN
4     1134777  12028447   JOHNSON    REBECCA       GRACE

In [15]:
df4.head()

   address_id  voter_id last_name first_name middle_name house_number zipcode
0     1134776  00025435    BEMBRY     BRENDA    NEWBERRY           28   31036
1     1134776  12752466    BEMBRY     ANDREW     BERNARD           28   31036
2     1134777  00032584   JOHNSON   JENNIFER         LEE           61   31036
3     1134777  04164211   JOHNSON     WALTER       KEVIN           61   31036
4     1134777  12028447   JOHNSON    REBECCA       GRACE           61   31036

In [19]:
voterdb.rebuild_search_table()

(7491215, 5)
(7491215, 7)
Index(['address_id', 'voter_id', 'last_name', 'first_name', 'middle_name',
       'house_number', 'zipcode'],
      dtype='object')

In [17]:
len(df4.voter_id.unique())

7491215

In [22]:
voterdb.voter_search('GRAHAM', 'MORRIS', '1426', '30809')

   address_id  voter_id last_name first_name middle_name house_number zipcode
0     2467196  03954433    MORRIS       JOHN      GRAHAM         1426   30809