In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
%load_ext autoreload
%autoreload 2

In [2]:
from data.voter_history_ingest import IngestVoterHistory
from data.voterdb import VoterDb

In [3]:
root_dir = '~/Documents/data'
ivh = IngestVoterHistory(root_dir)
vdb = VoterDb(root_dir)

In [5]:
ivh.ingest_voter_history_year(2022)

In [7]:
vh_2022 = vdb.voter_history_for_date(2022, 5, 24)

In [8]:
cobb_vh_2022 = vh_2022[vh_2022.county_id=='033']

In [9]:
print(f'2022 turnout = {len(cobb_vh_2022)}')

2022 turnout = 158941

In [24]:
print(f'2022 turnout = {len(cobb_vh_2022)}, 2020 turnout = {len(cobb_vh_2020)}, 2018 turnout = {len(cobb_vh_2018)}, ')

2022 turnout = 64282, 2020 turnout = 187884, 2018 turnout = 84331,

In [36]:
print(f'2022 REP turnout = {sum(cobb_vh_2022.party=="R")}, 2020 REP turnout = {sum(cobb_vh_2020.party=="R")}, 2018 REP turnout = {sum(cobb_vh_2018.party=="R")}, ')

2022 REP turnout = 35550, 2020 REP turnout = 71423, 2018 REP turnout = 42201,

In [35]:
FIELD_WIDTH = [3, 8, 8, 3, 2, 1, 1, 1]

COL_NAMES = ['county_id',
                 'voter_id',
                 'date',
                 'type',
                 'party',
                 'absentee',
                 'provisional',
                 'supplemental'
                 ]
COL_TYPES = {'county_id': str,
                 'voter_id': str,
                 'date': str,
                 'type': str,
                 'party': str,
                 'absentee': bool,
                 'provisional': bool,
                 'supplemental': bool
                 }

In [36]:
df = pd.read_fwf('~/Downloads/36270.TXT', widths=FIELD_WIDTH, header=None, names=COL_NAMES,
                         dtype=COL_TYPES, true_values=['Y'], false_values=['N'])

In [37]:
len(df.date.unique())

1

In [38]:
cobb_df = df[df.county_id=='033']

In [40]:
sum(cobb_df.provisional)

0

In [28]:
print(cobb_df.type.unique())

['001']

In [4]:
df = ivh.read_csv(2022, '~/Downloads')

In [29]:
df

,county_id,voter_id,date,type,party,absentee,provisional,supplemental
0,101,01654423,20220524,005,NaN,True,False,False
1,101,08401369,20220524,005,NaN,True,False,False
2,101,01658214,20220524,005,NaN,True,False,False
3,101,01657443,20220524,005,NaN,True,False,False
4,101,01654430,20220524,005,NaN,True,False,False
...,...,...,...,...,...,...,...,...
914278,157,00226129,20220524,001,D,True,False,False
914279,159,01303222,20220524,001,R,True,False,False
914280,154,01646483,20220524,001,R,True,False,False
914281,154,02782651,20220524,001,R,True,False,False
914282,154,02780949,20220524,001,R,True,False,False

In [30]:
df_cobb = df[df.county_id=='033']
df_cobb

,county_id,voter_id,date,type,party,absentee,provisional,supplemental
4453,033,03160162,20220405,005,NaN,False,True,False
4454,033,05071936,20220405,005,NaN,False,False,False
4455,033,03070987,20220405,005,NaN,False,False,False
4456,033,03722613,20220405,005,NaN,False,False,False
4457,033,03083006,20220405,005,NaN,False,False,False
...,...,...,...,...,...,...,...,...
437579,033,05194225,20220524,001,D,True,False,False
437580,033,03729652,20220524,001,D,True,False,False
437583,033,02345968,20220524,001,D,True,False,False
437587,033,06416440,20220524,001,D,True,False,False
437588,033,03822788,20220524,001,R,True,False,False

In [13]:
df_cobb_05_24 = df_cobb[df_cobb.date=='20220524']
df_cobb_05_24

,county_id,voter_id,date,type,party,absentee,provisional,supplemental
152498,033,08362848,20220524,001,R,True,False,False
152505,033,06707515,20220524,001,D,True,False,False
152511,033,03327282,20220524,001,D,True,False,False
152512,033,01511203,20220524,001,D,True,False,False
152517,033,03157313,20220524,001,R,True,False,False
...,...,...,...,...,...,...,...,...
398599,033,05194225,20220524,001,D,True,False,False
398600,033,03729652,20220524,001,D,True,False,False
398603,033,02345968,20220524,001,D,True,False,False
398607,033,06416440,20220524,001,D,True,False,False
398608,033,03822788,20220524,001,R,True,False,False

In [41]:
ivh.ingest_voter_history_year(2017)
ivh.ingest_voter_history_year(2016)
ivh.ingest_voter_history_year(2015)
ivh.ingest_voter_history_year(2014)