# Voter List Cleansing

Start Time 5/14 8:10
Stop 9:18 PM
Start 9:30 PM
Stop 10:40

5/15
Start 8:30 AM
Stop 9:00 AM
Start 1:45 PM

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
%load_ext autoreload
%autoreload 2

In [2]:
from data.voterdb import VoterDb
from data.voter_list_ingest import IngestVoterList
from util.search import VoterMatch

In [13]:
sample = pd.read_csv('../resources/pull-5-14-2022_20220514161547-REV.csv', dtype=str)
#sample = pd.read_csv('../resources/sample2.csv', dtype=str)
print(sample.shape)
sample.columns = [
    'apt_no',
    'state',
    'zipcode',
    'name',
    'first_name',
    'last_name',
    'precinct_id',
    'cng',
    'sen',
    'hse',
    'voter_id',
    'street_address',
    'city'
]

(3299, 13)

In [34]:
root_dir = '~/Documents/data'
vm = VoterMatch(root_dir)

matched, unmatched, not_matchable, duplicate_count = vm.match(sample, 'name')
# matched.to_csv(Path('../resources/matched.csv'))
# unmatched.to_csv(Path('../resources/unmatched.csv'))
# not_matchable.to_csv(Path('../resources/not_matchable.csv'))

In [35]:
matched2, unmatched2, not_matchable2, duplicate_count2 = vm.match(unmatched, 'split name')

In [36]:
matched3, unmatched3, not_matchable3, duplicate_count3 = vm.match(unmatched2, 'split name+retry middle')

In [27]:
sample

,apt_no,state,zipcode,name,first_name,last_name,precinct_id,cng,sen,hse,voter_id,street_address,city
0,#1,NaN,30308,Eva van Leer,Eva,van Leer,NaN,NaN,NaN,NaN,NaN,799 Argonne Ave NE,Atlanta
1,#1101,Georgia,30305,Rufus Montgomery,Rufus,Montgomery,08H,5,39,54,NaN,2626 Peachtree Road NW #1101,Atlanta
2,#127,Georgia,30328,Pichard Alford,Pichard,Alford,SS19A,6,56,45,NaN,7265 Glisten Ave,Sandy Springs
3,#13,Georgia,30308,Elizabeth Wharton,Elizabeth,Wharton,02L1,5,39,57,NaN,"229 Ponce De Leon Ave, Ne",Atlanta
4,#1318,Georgia,30308,Myron Blackmon,Myron,Blackmon,NaN,11,NaN,NaN,NaN,144 Ponce De Leon Ave,Atlanta
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3294,NaN,NaN,NaN,Jules Mugnier,Jules,Mugnier,RW12,NaN,NaN,47,NaN,540 Bally Claire Lane,Roswell
3295,NaN,NaN,NaN,TMugnier,Toni,Mugnier,RW12,NaN,NaN,47,NaN,540 Bally Claire Lane,Roswell
3296,NaN,NaN,NaN,Cindy Raimondi,Cindy,Raimondi,RW12,NaN,NaN,47,NaN,620 Estate Club Circle,Roswell
3297,NaN,NaN,NaN,Louis Raimondi,Louis,Raimondi,RW12,NaN,NaN,47,NaN,620 Estate Club Circle,Roswell
3298,NaN,NaN,NaN,Gabriela Rodriguez,Gabriela,Rodriguez,JC08,NaN,NaN,50,NaN,5405 Hampstead Way,Johns Creek

In [11]:
print(df)

      first_name   last_name               street_address  \
0          James     Edwards  1 Peachtree Hills Avenue NE
1         Sandra      Mcowen                 1 Regency Rd
2           Alan      Soskel              10 Creekline Dr
3          Frank       Duffy               10 Cumming St.
4        Charles        Cook  10 Geworge Wythe Place N.W.
5           Rick  Woroniecki          10 Glenlake Parkway
6           John     Masters           10 Lonox Point N.E
7          Donna       Slade            10 Parkmont Drive
8        Raleigh      Cannon           100 Cardinal Drive
9           Katy       Clark           100 idlegate court
10  Dargan Scott        Cole        100 Lake Forrest Lane
11      Jennifer        Ross              100 Osner Drive
12        Ashley      Groome         100 Peachtree St. NW
13          John      Walker      100 River Bluff Parkway
14         Danie      Alvero             100 Trammell Ct.
15         Chuck     O'brien            100 Vilamoura Way
16        Laurie       Rizan             1000 Fanfare Way
17         Kathy      Lisska          120 Willow Brook Dr
18        Andrew      Lisska       120 Willow Brook Drive

                       apt_no         city    state     zipcode   hse   sen  \
0                      Apt B2      Atlanta  Georgia       30305   057   039
1                         NaN   Alpharetta  Georgia       30022   051   014
2                         NaN      Roswell  Georgia       30076   048   014
3                         NaN   Alpharetta  Georgia       30009  None  None
4                         NaN          NaN      NaN       20218  None  None
5   South Tower STE 1,000-ACK      Atlanta  Georgia       30328  None  None
6                         NaN      Atlanta  Georgia  30324-3168  None  None
7                         NaN      Roswell  Georgia       30076  None  None
8                         NaN      Roswell  Georgia       30075  None  None
9                         NaN  Johns creek  Georgia       30022  None  None
10                        NaN      Atlanta  Georgia       30342  None  None
11                        NaN      Atlanta  Georgia       30342  None  None
12                 Suite 2200      Atlanta  Georgia       30303  None  None
13                        NaN      Roswell  Georgia       30075   049   056
14                        NaN   Alpharetta  Georgia       30009   049   021
15                        NaN  Johns Creek  Georgia       30022  None  None
16                        NaN   Alpharetta  Georgia       30009  None  None
17                        NaN      Roswell  Georgia       30076  None  None
18                        NaN      Roswell  Georgia       30076  None  None

    voter_id   cng precinct_id  names_found  found_zipcode  \
0   05103982   005         07J          222           True
1   02674606   006       RW22A            1           True
2   06173515   006        AP03            1           True
3       None  None        None            2          False
4       None  None        None          114          False
5       None  None        None            0          False
6       None  None        None           10          False
7       None  None        None            0          False
8       None  None        None            0          False
9       None  None        None            0          False
10      None  None        None            0          False
11      None  None        None           31          False
12      None  None        None            1          False
13  02522209   006       RW03A          245           True
14  02432059   006       AP021            1           True
15      None  None        None            0          False
16      None  None        None            1          False
17      None  None        None            1          False
18      None  None        None            1          False

    found_house_number  multiple_matches    standard_street_name
0                 True             False  PEACHTREE HILLS AVE NE
1                 True             False              REGENCY RD
2                 True             False            CREEKLINE DR
3                False             False                    None
4                False             False                    None
5                False             False                    None
6                False             False                    None
7                False             False                    None
8                False             False                    None
9                False             False                    None
10               False             False                    None
11               False             False                    None
12               False             False                    None
13                True             False        RIVER BLUFF PKWY
14                True             False             TRAMMELL CT
15               False             False                    None
16               False             False                    None
17               False             False                    None
18               False             False                    None