# Provide Kaaryn With Data with Fulton Demographics

In [1]:
%load_ext autoreload
%autoreload 2

In [5]:
from data.voterdb import VoterDb

In [6]:
root_dir = '~/Documents/data'
db = VoterDb(root_dir)

In [26]:
fulton_ps = db.get_precinct_summary('060')
fulton_ps.head()

,precinct_id,total,AP,AI,HP,BH,OT,U,WH,S,...,AP_F_S,AP_F_B,AP_F_GX,AP_F_M,AP_F_GZ,AP_M_S,AP_M_B,AP_M_GX,AP_M_M,AP_M_GZ
0,ML05,5011,333,24,224,600,119,681,3030,275,...,6,18,79,45,38,3,22,61,33,27
1,06L1,1003,12,2,20,84,14,109,762,65,...,1,1,1,3,2,0,1,1,2,0
2,JC08,3016,418,9,140,306,94,377,1672,102,...,7,45,67,51,37,3,43,64,65,33
3,ML02A,2698,65,5,65,105,41,313,2104,108,...,2,5,19,6,9,2,3,16,2,1
4,HP01,3893,118,13,268,1705,111,452,1226,169,...,6,16,12,17,8,6,13,12,20,8

In [27]:
fulton_ps.to_csv('~/Downloads/fulton_demographics.csv', index=False)